/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*****************
Overridding Bootstrap defaults
*****************/
.navbar-default .navbar-toggle {
    border-color: #ba8f00 !important;
}
.container {
       padding: 0px;
           width: 100% !important;
}
.navbar-collapse {
         padding: 0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #ba8f00;
    background-image: none;
    border: 1px solid #ba8f00;
    border-radius: 4px;
}
@media (min-width: 1200px){
.container {
        width: 100%;
}

.contact_us_text{
    font-size:  80px;
}
}
/*********************END*********************/

/****Own Custom styles***/
.online_store_price_tag{
    color: #ba8f00;
font-weight: 600;}

.shop_now_button{
        width: 20%;
    border: solid 2px #ba8f00;
       padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: #ba8f00;
        margin-bottom: 50px;
    
}
.shop_now_button:hover{
        width: 25%;
    border: solid 2px #ba8f00;
       padding: 10px 20px 10px 20px;
   
    cursor: pointer;
}
/******************End *****************/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	    font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
body{
	background:#FFFFFF;
     font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
/*-- banner --*/
.banner{
background: url(../images/webpage.png) 0% -150%;
    background-size: cover;

/*	background-size:cover;*/
}
/*-- header-left --*/
.header {
      padding: 1em 0em 0.2em 0em;
        background-color: white;
}
.header-left{
    text-align: center;
}
.w3layouts-logo img {
     padding: 0;
    border: none;
    outline: none;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    width: 160px;
    height: 150px;
    background: url(../images/logo/logo.png) no-repeat;
    background-size: contain;
}
.w3layouts-logo h1 a {
	color: #FFFFFF;
    font-size: 1.3em;
    text-decoration: none;
 font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
.w3layouts-logo h1 a span{
    color: #ffffff !important;
    font-weight: 100;
     font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
/*-- //header-left --*/
/*-- top-nav --*/
.top-nav{
    /*margin: 2em 0 0 0;*/
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    float: left;
    width: 25%;
}
.top-nav ul li:nth-child(6){
	margin-right:0;
}
ul.nav.navbar-nav {
    float: none;
    text-align: center;
    background: none;
}
.navbar-default{
    background: none;
    border: none;
    margin: 0;
}
.navbar {
    min-height: 0;
      /*  left: 10%;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
    outline: none;
    border-right: none;
    border-top: solid 1px rgba(255, 255, 255, 0.54);
    border-bottom: solid 1px rgba(255, 255, 255, 0.54);
}
.top-nav ul li a{
   color: #777 !important;
       font-size: 1.2em;
    margin: 0;
    text-decoration: none;
        padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border-right: none;
    border-top: solid 2px #ba8f00;
    border-bottom: solid 2px #ba8f00;
}
.top-nav ul li a.list-border{
	border-left: none;
}
.top-nav ul li a:hover{
    color: #ba8f00 !important;
}
.top-nav ul li a.active{
    color: #ba8f00 !important;
    background: none;
}
ul.dropdown-menu {
    background: #ba8f00;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 3.8em;
    left: 0px;
    min-width: 221px;
}
ul.dropdown-menu li{
	width:100% !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: .5em 1em !important;
    text-align: center;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #FFFFFF;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-- //top-nav --*/
/*-- w3-banner --*/
.w3-banner{
     padding: 4em 0 3.5em 0;
    text-align: center;
}
.w3-banner h2{
    margin: 0;
    font-size: 4em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 35px;
    padding: 1em 0 0 0;
}
.w3-banner h2 span,.w3-banner p span{
	display:block;
}
.w3-banner p{
    color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
    letter-spacing: 2px;
}
.w3layouts-border{
     width: 50%;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
       background-color: rgba(255,255,255,0.7);
}

.agileits-border{
	border-top: 0;
	border-bottom: 2px solid #fff !important;
}
/*-- w3-banner --*/
/*-- welcome --*/
.welcome,.testimonial,.wthree-subscribe,footer,.different,.team,.gallery,.codes,.typography,.single,.contact-top{
	padding:0em 0;
}
.agileits-heading {
    text-align: center;
}
.agileits-heading h3{
	font-size: 3em;
    text-decoration: none;
   font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
    color: #212121;
    margin: 0;
}
.w3_welcome_grids,.w3-agileits-subscribe-form,.agileinfo-team-grids{
	margin:4em 0 0 0;
}
.welcome_panel{
	margin:0 !important;
}
.w3ls_logo_welcome{
	padding-bottom:0 !important;
}
.agileits_breadcrumbs_left ul {
    padding: .3em 0 0;
}
.w3_welcome_grid_left h5{
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    font-weight: 800;
}
.w3_welcome_grid_left p{
    color: #212121;
    line-height: 1.8em;
    font-style: italic;
    margin: 1em 0;
    font-size: .9em;
    font-weight: 600;
}
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:10px 35px;
}
.panel-title {
    font-size: 1em;
    color: #212121;
    text-transform: capitalize;
    text-decoration: none;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #FFF;
    color: #212121;
    background: none;
    border: solid 1px #e0e0e0;
    border-radius: 0;
}
a.pa_italic.collapsed {
    text-decoration: none;
}
.panel-body {
	padding: 1em;
    font-size: .9em;
    line-height: 1.8em;
    color: #999999;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.w3_welcome_grid_right img{
	width:100%;
}
/*-- //welcome --*/
/*-- services --*/
.services-heading h3{
	text-align:left;
}
.w3ls-services-left{
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 557px;
}
.w3ls-services-right{
    padding: 4em;
    background: #ba8f00;
}
.w3ls-services-icons{
    margin: 4em 0 0 0;
}
.icon-left{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin-right: 1.5em;
}
.icon-right{
    float: left;
    width: 80%;
}
i.fa.fa-cog,i.fa.fa-heart,i.fa.fa-paper-plane{
    color: #ffffff;
    font-size: 2em;
}
.icon-right h5{
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.icon-right p{
    color: #ffffff;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.agileits-icon-grid:nth-child(2){
	margin:2em 0;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #212121;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.agileits-icon-grid:hover div.hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);	
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.agileits-icon-grid:hover i.fa.fa-cog,.agileits-icon-grid:hover i.fa.fa-heart,.agileits-icon-grid:hover i.fa.fa-paper-plane{
	color:#FFFFFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;	
}
.agileits-icon-grid:nth-child(2) {
    margin: 2em 0;
}
/*-- //services --*/
/*-- testimonial --*/
.testimonial-info {
    float: left;
    width: 50%;
}
.testimonial-img {
	float: right;
    width: 40%;
}
.testimonial-info h4{
	color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    font-weight: 800;
}
.testimonial-info p{
    color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.testimonial-img-left{
    float: left;
    width: 25%;
}
.testimonial-img-left img{
	width: 100%;
    border-radius: 50%;
    border: solid 3px #ba8f00 !important;
}
.testimonial-img-right{
	float: left;
    width: 60%;
    margin: 2em 0 0 0;
	text-align:center;
}
.testimonial-img-right h5{
    color: #212121;
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
.testimonial-img-right p{
	color: #ba8f00;
    font-size: .9em;
    margin: .5em 0 0 0;
}
.wthree-testimonial-grid {
    margin: 4em 0 0 0;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 110%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
   font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #212121;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #ffffff;
    border: 2px solid #212121;
}
/*-- //slider --*/
/*-- //testimonial --*/
/*-- subscribe --*/
.wthree-subscribe {
    background: #dcdcdc;
}
.w3-agileits-subscribe-form p{
    color: #212121;
    font-size: .9em;
    margin: 0 0 1em 0;
}
.w3-agileits-subscribe-form {
    text-align: center;
}
.w3-agileits-subscribe-form input[type="text"] {
    display: inline-block;
    background: #ffffff;
    width: 45%;
    outline: none;
    padding: 1em;
    font-size: .9em;
    color: #999999;
    border: solid 1px #ffffff;
}
button.btn1 {
    color: #FFFFFF;
    font-size: .9em;
    border: solid 1px #ba8f00;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    background: #ba8f00;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover{
    background: none;
    border: solid 1px #000000;
    color: #000000;
}
/*-- //subscribe --*/
/*-- footer --*/
footer{
	background:#212121;
}
.w3ls-footer-grid h4{
    color: #ffffff;
    font-size: 1.2em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.w3ls-footer-grid h4 span{
	color: #ba8f00;
}
.wthree-footer-info p{
	color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin:0;
}
.wthree-footer-info ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.wthree-footer-info ul li{
	display:block;
	color:#FFFFFF;
	font-size:.9em;
	margin:1em 0 0 0;
}
.wthree-footer-info ul li:nth-child(1){
	margin:0;
}
.wthree-footer-info ul li a{
	color:#FFFFFF;
	text-decoration:none;
}
.wthree-footer-info ul li a:hover{
	color:#8bc34a;
}
.agile-post-left {
	padding: 0;
}
.agile-post-left a img{
	width:100%;
}
.agile-post-right h5{
	margin:0;
}
.agile-post-right h5 a{
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.8em;
}
.agile-post-right h5 a:hover{
    color: #ba8f00;
}
.agile-post-right p{
	color: #8d8d8d;
    font-size: .9em;
    margin: .5em 0 0 0;
    text-transform: uppercase;
}
.agile-post-grid:nth-child(2){
	margin:2em 0 0 0;
}
.w3ls-footer-grid ul{
	padding:0;
}
.w3ls-footer-grid ul li{
    display: block;
    margin: .5em 0;
}
.w3ls-footer-grid ul li a{
	color:#FFFFFF;
	font-size:.9em;
	text-decoration:none;
}
.w3ls-footer-grid ul li:nth-child(1){
	margin:0;
}
.w3ls-footer-grid ul li a:hover{
    color: #ba8f00;
}
.popular-grids:nth-child(2) {
    margin: 1em 0;
}
.popular-grid {
	float: left;
    width: 27%;
    margin-right: 1em;
}
.popular-grid a img {
    width: 100%;
    border: solid 2px #fff;
}
.agileits-w3layouts{
	text-align: center;
    padding: 1em 0;
    background: #0f1215;
}
.agileits-w3layouts p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.agileits-w3layouts p a{
	color:#FFFFFF;
	text-decoration:none;
}
.agileits-w3layouts p a:hover{
    color: #ba8f00;
}
/*-- //footer --*/
/*-- about --*/
.agileits-top-heading{
	    padding: 5em 0 5em 0;
	text-align:center;
}
.agileits-top-heading h2{
	color: #FFFFFF;
    font-size: 3em;
    margin: 0;
 font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
.main-textgrids {
       padding: 2em 0;
}
.main-textgrids img {
    width: 100%;
}
.ab-text p {
      line-height: 1.8em;
    margin: 0 0 1em 0;
    font-size: 1.5em;
    color: #333;
    text-align: -webkit-center;
}
ul.ab {
    padding: 0;
}
ul.ab li {
    list-style-type: none;
    margin: 0 0 1em;
}
ul.ab li a {
    color: #999999;
    line-height: 1.8em;
    font-size: 0.9em;
    text-decoration: none;
}
.statements {
    margin-top: 4em;
}
ul.ab li a:hover{
	color: #ba8f00;
}
.statements p{
    line-height: 1.8em;
    margin-bottom: 4%;
    margin-top: 3%;
    font-size: 0.9em;
    color: #777;
}
.mission h4 {
    text-align: left;
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    font-weight: 800;
}
/*-- different --*/
.different{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.different-heading h3{
    color: #FFFFFF;
}
.w3agile-different-info p{
    text-align: center;
    margin: 3em auto 0;
    font-size: .9em;
    color: #FFFFFF;
    width: 73%;
    line-height: 1.8em;
}
.w3agile-button {
    margin: 3em 0 0 0;
    text-align: center;
}
.w3agile-button a{
    border: solid 1px #ba8f00;
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    text-decoration: none;
    background: #ba8f00;
}
.w3agile-button a:hover{
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
	background:none;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- //different --*/
/*-- team --*/
.team{
        background: white;
}
.wthree-team-grid img{
	width:100%;
    z-index: -1;
        border: 2px solid #ba8f00;
    padding: 10px;
}


.wthree-team-grid-info{
        text-align: -webkit-center;
            margin-top: 10px;
    margin-bottom: 50px;
padding: 1em;
    background: #FFFFFF;
    border: 2px solid #ba8f00;
}
.wthree-team-grid-info:hover {
    text-align: -webkit-center;
    padding: 1em;
    background: #FFFFFF;
    border: 5px solid #ba8f00;
    cursor: pointer; cursor: hand;
  
}
.wthree-team-grid h4 {
    font-size: 1em;
    color: #ff9800;
    margin: 0;
    font-weight: 600;
}
.wthree-team-grid p {
    margin:.5em 0;
    color: #999999;
    font-size: .9em;
}
.team-social-grids ul {
    padding: 0;
    margin: 0;
}
.team-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.team-social-grids ul li a {
    text-align: center;
}
.team-social-grids ul li a i.fa{
	height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #b2b2b2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
/*-- //team --*/
/*-- //about --*/
/*--gallery--*/
.w3-agileits-gallery-grids.agileits-gallery-grids {
    margin: 2em 0;
}
.w3-agileits-gallery-grids:nth-child(5) {
    float: right;
}
.w3-agileits-gallery-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
.agile-b-wrapper{
	background: rgba(0, 0, 0, 0.58);
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    transition: .5s all;
    opacity: 0;
    text-align: center;
}
.w3-agileits-gallery-grids a:hover .agile-b-wrapper{
	height: 100%;
	opacity: 1;
}
.agile-b-wrapper i.fa{
	font-size: 2em;
    color: #fff;
    text-align: center;
    margin: 3.5em auto 0;
    line-height: 3em;
}
/*--//gallery--*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #ba8f00;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	color: #ba8f00 !important;
    margin: 30px 0 15px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h3.agileits-icons-title {
    text-align: center;
    color: #212121;
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
     font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
ul.bs-glyphicons-list {
    padding: 0;
    margin: 0;
}
/*-- //icons --*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #ba8f00;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		/*margin-top: 0px;*/
		margin-bottom: 0px;
	}
    .shop_now_button {
    width: 40%;
    padding: 10px;
    border: solid 2px #ba8f00;
    padding: 20px;
    color: #ba8f00;
    cursor: pointer;
}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*-- //typography --*/
/*-- single --*/
.agileits-single-img img{
	width:100%;
}
.agileits-single-img h4{
	color: #000000;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: capitalize;
}
.agileinfo-single-icons{
	margin:2em 0;
}
.agileinfo-single-icons ul{
	padding:0;
	margin:0;
}
.agileinfo-single-icons ul li{
	display: inline-block;
    color: #999999;
    font-size: .9em;
    margin-right: 1.5em;
}
.agileinfo-single-icons ul li:last-child{
	margin-right:0;
}
.agileinfo-single-icons ul li a{
    color: #999999;
	text-decoration:none;
}
.agileinfo-single-icons ul li span{
    margin-left: .5em;
}
.agileinfo-single-icons ul li span:hover{
	color: #ba8f00;
}
.agileits-single-img p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
/*-- comments --*/
.agileits_three_comments{
    margin: 4em 0;
}
.agileits_three_comment_grid{
    padding:3em 0;
    border-bottom: 1px solid #dddddd;
    width: 100%;
}
.agileits_tom {
	float: left;
    border: 1px dotted #353535;
    padding: .5em;
    width: 10%;
}
.agileits_tom  img{
	width:100%;
}
.agileits_tom_right{
    float: left;
    width: 70%;
    margin-left: 3em;
}
.hardy {
    float: left;
}
.reply {
    float: left;
    margin-left: 10em;
    margin-top: .5em;
}
.reply a {
    background: #ba8f00;
    border: solid 2px #ba8f00;
    padding: .5em 2em;
    color: #fff;
    font-size: .9em;
    text-decoration: none;
}
.reply a:hover{
	background:none;
	color:#212121;
	border: solid 2px #212121;
	background:none;
}
.agileits_tom_right p.lorem {
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.agileits_three_comments h3,.w3_leave_comment h3{
    text-align: left;
    color: #212121;
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.hardy h4 {
    font-size: 1.2em;
    color: #000000;
    margin: 0;
    font-weight: 600;
}
.hardy p {
    color: #999999;
    margin: .5em 0 0;
    font-size: .9em;
}
.agileits_three_comment_grid:nth-child(2){
    margin:4em 0 0;
	padding-top:0 !important;
}
.agileits_three_comment_grid:last-child{
	border-bottom:none;
	padding-bottom:0 !important;
}
.agileits_three_comment_grid1{
	padding-left:5em;
}
/*-- //comments --*/
/*-- leave-comments --*/
.w3_leave_comment {
    width: 70%;
}
.w3_leave_comment form {
    margin: 3em 0 0;
}
.w3_leave_comment input[type="text"], .w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    background: none;
    border: 1.5px solid #BBBBBB;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: .9em;
    color: #BBBBBB;
}
.w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    margin: 1em 0;
}
.w3_leave_comment textarea {
    min-height: 200px;
    resize: none;
}
.w3_leave_comment input[type="submit"] {
	background: #ba8f00;
    border: solid 2px #ba8f00;
    padding: .5em 2em;
    color: #fff;
    font-size: .9em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3_leave_comment input[type="submit"]:hover {
    border: solid 2px #212121;
    color: #212121;
    background: none;
	text-transform: uppercase;
    font-weight: 600;
}
/*-- //leave-comments --*/
/*-- //single --*/
/*-- contact --*/
.contact-info {
  margin: 3em 0;
  text-align: center;
}
.contact-info p {
  color: #B2B2B2;
  font-size: .9em;
  margin: 1em auto 0;
  line-height: 1.8em;
  width: 70%;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
.mail-grids {
	margin: 4em 0 0 0;
}
.mail-grid-left h3 {
    font-size: 2em;
    margin: 0 0 .5em 0;
    color: #ba8f00;
}
.mail-grid-left h5 {
    color: #313131;
    font-size: .875em;
    margin: 0;
    font-weight: 600;
    line-height: 1.8em;
}
.mail-grid-left h5 span {
  display: block;
}
.mail-grid-left h4 {
    color: #313131;
    font-size: .875em;
    font-weight: 800;
    text-transform: uppercase;
    margin: .5em 0;
}
.mail-grid-left p {
    color: #BBBBBB;
    font-size: .875em;
    margin: 1em 0;
    line-height: 1.8em;
}
.mail-grid-left p a{
    color: #ba8f00;
    text-decoration: none;
}
.mail-grid-left p span {
  display: block;
}

.contact-form{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}
.contact-form form {
  text-align: right;
}
.contact-form input[type="text"],.contact-form input[type="email"], .selected-style {
  width: 100%;
  color: #ba8f00;
  background: none;
  outline: none;
  font-size: .9em;
  padding: .5em;
  margin-bottom: 1em;
  border: solid 1px #ba8f00;
  -webkit-appearance: none;
}
.contact-form textarea {
  resize: none;
  width: 100%;
  background: none;
  color: #ba8f00;
  font-size: .9em;
  outline: none;
  padding: .5em;
  border: solid 1px #ba8f00;
  min-height: 150px;
  -webkit-appearance: none;
}
.contact-form input[type="submit"] {
    outline: none;
    -webkit-appearance: none;
    border: solid 1px #ba8f00;
    font-size: .9em;
    color: #ffffff;
    font-weight: 600;
    padding: .7em 1em;
    text-decoration: none;
    letter-spacing: 1px;
    background: #ba8f00;
    margin: 1em 0 0;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-form input[type="submit"]:hover {
    color: #ba8f00;
    border: solid 1px #ba8f00;
	background: none;
}
/*-- //contact --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px){
	.w3ls-services-left {
		min-height: 683px;
	}
	.w3ls-footer-grid {
		width: 50%;
	}
	.w3ls-footer-grid:nth-child(3),.w3ls-footer-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.agile-b-wrapper i.fa {
		margin: 2.5em auto 0;
	}
	.icon-box {
		padding: 8px 4px;
		font-size: .9em;
	}
}
@media(max-width:1024px){
	.w3ls-services-right {
		padding: 3em;
	}
	.w3ls-services-left {
		min-height: 651px;
	}
}
@media(max-width:991px){
	.w3-banner h2 {
		letter-spacing: 20px;
	}
	.w3layouts-border {
		width: 60%;
	}
	.w3_welcome_grid_right {
		margin: 2em 0 0 0;
	}
	.w3ls-services-left {
		min-height: 585px;
	}
	.w3ls-footer-grid {
		float: left;
		width: 45%;
	}
	.agile-post-left {
		float: left;
		width: 30%;
	}
	.agile-post-right {
		float: left;
		width: 70%;
	}
	.ab-text {
		margin: 1em 0 0 0;
	}
	.statements {
		margin-top: 2em;
	}
	.w3agile-different-info p {
		width: 90%;
	}
	/*.wthree-team-grid {
		float: left;
		width: 50%;
	}*/
	.wthree-team-grid:nth-child(3),.wthree-team-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.w3-agileits-gallery-grids {
		width: 50%;
		float: left;
		padding: 0 .5em;
	}
	.w3-agileits-gallery-grids.gallery-two {
	    width: 100%;
		padding: 0 .5em;
		margin: 1em 0 0 0;
	}
	.gallery-grids.agileits-gallery-grids {
		margin: 0;
	}
	.w3-agileits-gallery-grids:nth-child(6) {
		padding-bottom: 0 !important;
	}
	.w3-agileits-gallery-grids:nth-child(5), .w3-agileits-gallery-grids:nth-child(8), .w3-agileits-gallery-grids:nth-child(9) {
		margin: 1em 0;
	}
	.w3-agileits-gallery-grids a img {
		width: 100%;
	}
	.w3-agileits-gallery-grids.agileits-gallery-grids {
	    margin: 1em 0 0 0;
	}
	.agile-b-wrapper i.fa {
		margin: 5em auto 0;
	}
}
@media(max-width:736px){
	.navbar-toggle {
		float: none;
		margin-right: 0;
	}
	.navbar {
		text-align: center;
            left: 0%;
	}
	.top-nav ul li {
		display: block;
		float: none;
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		box-shadow: none;
		background: #2a2a2a;
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	.top-nav ul li a {
		border-bottom: none;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #ba8f00;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.w3ls-services-left {
		min-height: 520px;
	}
	.w3-banner {
		padding: 4em 0 6em 0;
	}
}
@media(max-width:667px){
	.w3-banner h2 {
		font-size: 3em;
	}
	.top-nav {
		margin: 1em 0 0 0;
	}
	.w3-banner {
		padding: 3em 0 4em 0;
	}
	.w3ls-services-left {
		min-height: 480px;
	}
	.testimonial-img-right {
		margin: .5em 0 0 0;
	}
	.testimonial-info {
		float: none;
		width: 100%;
		text-align: center;
		margin: 0 0 2em 0;
	}
	.testimonial-img {
	    float: none;
		width: 45%;
		margin: 0 auto;
	}
	.testimonial-info p {
		margin: 1em auto 0;
		width: 80%;
	}
	.w3ls-footer-grid {
		float: none;
		width: 100%;
		margin:0 0 2em 0 !important;
	}
	.w3ls-footer-grid:nth-child(4){
		margin:0 !important;
	}
	.reply {
		margin-left: 6em;
	}
	.agile-b-wrapper i.fa {
		margin: 4em auto 0;
	}
}
@media(max-width:640px){
	.testimonial-info p {
		width: 83%;
	}
}
@media(max-width:600px){
	.w3ls-services-left {
		min-height: 425px;
	}
	.testimonial-info p {
		width: 80%;
	}
}
@media(max-width:568px){
	.w3-banner h2 {
		font-size: 2.5em;
	}
	.w3ls-services-left {
		min-height: 400px;
	}
	.icon-left {
		margin-right: 0.5em;
	}
	.agileits_tom_right {
		width: 75%;
		margin-left: 1em;
	}
	.agile-b-wrapper i.fa {
		margin: 3em auto 0;
	}
}
@media(max-width:480px){
	.w3-banner h2 {
		font-size: 2em;
	}
	.w3ls-services-left {
		min-height: 340px;
	}
	.icon-right {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.agileits-icon-grid {
		text-align: center;
	}
	.icon-left {
		margin: 0;
		float: none;
	}
	.services-heading h3 {
		text-align: center;
	}
	.testimonial-img {
		width: 54%;
	}
	.callbacks_tabs {
		left: 41%;
	}
	.welcome, .testimonial, .wthree-subscribe, footer, .different, .team, .gallery, .codes, .typography, .single, .contact-top,.main-textgrids{
		padding: 2em 0;
	}
	.agileits-heading h3 {
		font-size: 2em;
	}
	.w3_welcome_grids, .w3-agileits-subscribe-form, .agileinfo-team-grids,.mail-grids {
		margin: 2em 0 0 0;
	}
	.w3ls-services-right {
		padding: 2em;
	}
	.w3ls-services-icons {
		margin: 2em 0 0 0;
	}
	.wthree-testimonial-grid {
		margin: 2em 0 0 0;
	}
	.callbacks_tabs {
		top: 98%;
	}
	.agileits-top-heading h2 {
		font-size: 2em;
	}
	.agileits_three_comments {
		margin: 2em 0;
	}
	.agileits_three_comment_grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.agileits_tom {
		width: 18%;
	}
	.agileits_three_comment_grid1 {
		padding-left: 2em;
	}
	.reply {
		margin-left: 4em;
	}
	.w3_leave_comment {
		width: 100%;
	}
	.agile-b-wrapper i.fa {
		margin: 2em auto 0;
	}
}
@media(max-width:414px){
	.w3-banner h2 {
		letter-spacing: 12px;
	}
	.w3layouts-border {
		/*height: 25px;*/
		width: 84%;
	}
	.w3-banner p span {
		display: inline-block;
	}
	.w3layouts-logo h1 a {
		font-size: 1em;
	}
	.w3ls-services-left {
		min-height: 285px;
	}
	.testimonial-img {
		width: 68%;
	}
	.testimonial-info p {
		width: 95%;
	}
	.testimonial-info h4 {
		font-size: .9em;
	}
	.w3-agileits-subscribe-form input[type="text"] {
		width: 50%;
	}
	.agileits-single-img h4 {
		font-size: 1em;
	}
	.agileits_three_comment_grid {
		padding: 1em 0;
	}
	.w3_leave_comment form {
		margin: 2em 0 0;
	}
	.w3agile-different-info p {
		width: 100%;
	}
	.team-social-grids ul li {
		margin: 0 .1em 0 0;
	}
	.icons .bs-glyphicons li {
		width: 31%;
	}
	.reply a {
		padding: .3em 1em;
	}
}
@media(max-width:384px){
	.w3-banner h2 {
		letter-spacing: 10px;
		padding: .5em 0 0 0;
	}
	.w3-banner {
		padding: 2em 0 3em 0;
	}
	.panel-title {
		font-size: .9em;
	}
	.w3ls-services-left {
		min-height: 260px;
	}
	.testimonial-img-right h5 {
		font-size: .9em;
	}
	.statements {
		margin-top: 0em;
	}
	.w3agile-different-info p {
		margin: 2em auto 0;
	}
	.wthree-team-grid-info {
		padding: .5em;
	}
	.reply {
		margin-left: 2em;
	}
	.agileits_three_comments h3, .w3_leave_comment h3 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.agile-b-wrapper i.fa {
		margin: 1.5em auto 0;
	}
	.map iframe {
		min-height: 200px;
	}
}
@media(max-width:375px){
	.w3-banner p {
		letter-spacing: 1px;
	}
	.testimonial-info h4 {
		width: 80%;
		margin: 0 auto;
	}
}
@media(max-width:320px){
	.w3-banner h2 {
		font-size: 1.5em;
	}
	.w3-banner p {
		letter-spacing: 0px;
	}
	.top-nav {
		margin: 0em 0 0 0;
	}
	.w3-banner {
		padding: 1em 0 2em 0;
	}
	.panel-heading {
		padding: 10px 18px;
	}
	.w3ls-services-left {
		min-height: 215px;
	}
	.testimonial-img-right {
		width: 71%;
	}
	.w3-agileits-subscribe-form input[type="text"] {
		width: 100%;
		padding: .5em;
	}
	button.btn1 {
		padding: .5em 2em;
		margin: 1em 0 0 0;
	}
	.agileits-top-heading h2 {
		font-size: 1.5em;
	}
	.agileits-heading h3 {
		font-size: 1.5em;
	}
	.wthree-team-grid {
		float: none;
		width: 100%;
	}
	.wthree-team-grid:nth-child(2),.wthree-team-grid:nth-child(3), .wthree-team-grid:nth-child(4) {
		margin: 1em 0 0 0;
	}
	.reply {
		margin-left: .5em;
	}
	.agile-b-wrapper i.fa {
		margin: 1.5em auto 0;
		font-size: 1.5em;
	}
	.mail-grid-left h3 {
		font-size: 1.5em;
	}
	.popular-grid {
		width: 26%;
	}
}
/*-- //responsive --*/